.cylinder {
  height: 100%;
  width: 33%;
  background: linear-gradient(
    180deg,
    #9b9b9b 0%,
    rgba(255, 255, 255, 0.9) 50%,
    #9b9b9b 100%
  );
  overflow: hidden;
  position: relative;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image {
  width: 50%;
  margin: 20px 0;
}

.roll {
  animation: roll 0.8s;
}

@keyframes roll {
  0% {
    top: 0;
  }
  9% {
    top: 300%;
  }
  10% {
    top: 0;
  }
  19% {
    top: 300%;
  }
  20% {
    top: 0;
  }
  29% {
    top: 300%;
  }
  30% {
    top: 0;
  }
  39% {
    top: 300%;
  }
  40% {
    top: 0;
  }
  49% {
    top: 300%;
  }
  50% {
    top: 0;
  }
  59% {
    top: 300%;
  }
  60% {
    top: 0;
  }
  69% {
    top: 300%;
  }
  70% {
    top: 0;
  }
  79% {
    top: 300%;
  }
  80% {
    top: 0;
  }
  89% {
    top: 300%;
  }
  90% {
    top: 0;
  }
  99% {
    top: 300%;
  }
  100% {
    top: 0;
  }
}
