.container {
  height: 60vh;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  border: 1px solid var(--border-color-light);
  border-radius: 10px;
  z-index: 100;
}

.header {
  text-align: center;
  color: var(--font-color-primary);
}

.close {
  color: var(--error);
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 1.4rem;
  cursor: pointer;
}
